{% if user %}
{% set is_guest = false %}
{% set is_registered = false %}
{% set is_editor = false %}
{% set is_steering = false %}
{% for group in user.groups %}
{% if group.code == 'guest' %}
{% set is_guest = true %}
{% endif %}
{% if group.code == 'registered' %}
{% set is_registered = true %}
{% endif %}
{% if group.code == 'internal-users' %}
{% set is_editor = true %}
{% endif %}
{% if group.code == 'steering-committee' %}
{% set is_steering = true %}
{% endif %}
{% endfor %}
<script src="https://cdn.jsdelivr.net/npm/resumablejs@1.1.0/resumable.min.js"></script>
<script type="text/javascript">
	function run_resumable(el){
		let browseFile = el
		let resumable = new Resumable({
			target: '/chunk-upload',
			query:{ parent_id: browseFile.data( "parentid" ) },
			fileType: [
				'pdf',
				'doc',
				'docx',
				'ppt',
				'pptx',
				'xls',
				'xlsx',
				'txt',
				'mp4',
				'png',
				'jpg',
				'zip',
				'rar'
			],
			chunkSize: 10*1024*1024,
			headers: {
				'Accept' : 'application/json'
			},
			testChunks: false,
			throttleProgressCallbacks: 1,
		});
		let progress = $('.progress');
		resumable.assignBrowse(browseFile);
		// console.log(browseFile)
		resumable.on('fileAdded', function (file) { // trigger when file picked
			showProgress();
			resumable.upload() // to actually start uploading.
		});

		resumable.on('fileProgress', function (file) { // trigger when file progress update
			updateProgress(Math.floor(file.progress() * 100));
		});

		resumable.on('fileSuccess', function (file, response) { // trigger when file upload complete
			response = JSON.parse(response)
			$('.upload-footer').show();
			setTimeout(function(){
				$('.upload-footer').hide();
				location.reload();
			}, 3000)
			hideProgress()
		});

		resumable.on('fileError', function (file, response) { // trigger when there is any error
			$('.upload-footer').html('file uploading error.')
		});


		function showProgress() {
			progress.find('.progress-bar').html('0%');
			progress.show();
		}

		function updateProgress(value) {
			progress.find('.progress-bar').attr('value', value)
			progress.find('.progress-bar').html(`${value}%`)
		}

		function hideProgress() {
			progress.hide();
		}
	}

</script>
<div class="row middle-xs between-xs">
	{% partial __SELF__ ~'::search-documents-search-form' folder=folder %}

	{% if has_query %}

	<div class="col-xs-12">
		<h1 class="base_heading inner-page">Search results for {{ post('query') }}</h1>
		{% if user %}
		{% if sub_folders %}
		{% for resultFolder in sub_folders %}
		{% partial __SELF__ ~'::internal_documents_search' folder=resultFolder  %}
		{% endfor %}

		{% for resultFile in files %}
		{% partial __SELF__ ~'::internal_documents_search' file=resultFile %}
		{% endfor %}

		{% else %}

		{{'No records found'|_}}

		{% endif %}
		{% endif %}
	</div>

	{% else %}
	<div class="col-xs-12">
		<h1 class="base_heading inner-page">{{ folder.name }}</h1>
		{% if folder.getParentsAndSelf().count %}

		{% if is_registered or is_editor %}

		<p>
			<a data-toggle="modal" class="modal-link" href="#contentBasicFolder{{ folder.id }}"><span class="circled_plus"></span> Create folder</a> &nbsp; &nbsp;
			<a data-toggle="modal" class="modal-link" href="#contentBasicFiles{{ folder.id }}" style="margin-left: 0;"><span class="circled_plus"></span> Upload files</a>


		</p>
		{% endif %}
		{% partial __SELF__ ~ '::_popup-files-form' subfolder=folder %}
		{% partial __SELF__ ~ '::_popup-folders-form' subfolder=folder partial_name='_folders_list'  %}

		<div id="files_list_{{folder.id}}">
			{% partial __SELF__ ~ '::_files_list' folder=folder group_id=folder.id is_guest=is_guest is_registered=is_registered is_editor=is_editor %}
		</div>

		{% endif %}

		<div id="accordion-documents" class="text-left relative ui-accordion ui-widget ui-helper-reset" role="tablist">
			<div id="sortableFolders{{folder.id}}">
				{% partial __SELF__ ~ '::_folders_list' folder=folder is_guest=is_guest is_registered=is_registered is_editor=is_editor %}
			</div>
			{% if is_registered or is_editor %}
			<script>
				initSort('sortableFolders{{folder.id}}', '{{folder.id}}', 'folders');
			</script>
			{% endif %}
		</div>
		<script>
			initAccordeon('accordion-documents', '{{expand}}');
		</script>
	</div>

	{% if folders.count %}
	<div class="col-xs-12">
		<div class="row">
			{% for record in folders %}
			{% if (record.slug == 'steering-committee') and not is_steering %}
			{% else %}
			<div class="col-xs-12 col-sm-3 card internal no-border" style="margin-bottom: 15px">
				<a class="folder-background" style="display:flex; background: url({{ record.cover.thumb(100,200,{'mode':'crop'}) }}) center center no-repeat; background-size: 100px; height: 200px" href="{{url('internal-repository')}}/{{ record.slug }}" title="{{ record.name }}"></a>
				<h3 class="card-header"><a href="{{url('internal-repository')}}/{{ record.slug }}" title="{{ record.name }}" style="color: #fff;">{{ record.name }}</a></h3>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	{% endif %}
	{% endif %}


</div>
{% endif %}

